body {
  background-color: cornsilk;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: navajowhite; /* Adjust the alpha value for opacity */
  border-radius: 50px; /* Adjust the border-radius for the pill shape */
  padding: 20px;
  opacity: 0; /* Set initial opacity to 0 for the fade-in effect */
  animation: fadeIn 1.5s ease-in-out forwards; /* Apply fade-in animation to the entire container */
  backdrop-filter: blur(10px); /* Adjust the blur value for frosted glass effect */
}

h1 {
  color: black;
  margin-bottom: 20px;
}

p {
  font-family: sans-serif;
  font-size: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
